@font-face {
  font-family: "iconfont"; /* Project id 3315171 */
  src: url('iconfont.woff2?t=1651838420538') format('woff2'),
       url('iconfont.woff?t=1651838420538') format('woff'),
       url('iconfont.ttf?t=1651838420538') format('truetype'),
       url('iconfont.svg?t=1651838420538#iconfont') format('svg');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-baitian:before {
  content: "\e64f";
}

.icon-zhiding:before {
  content: "\e635";
}

.icon-heiyemoshi:before {
  content: "\e76b";
}

.icon-shengqian:before {
  content: "\e63e";
}

.icon-zuozhe:before {
  content: "\e65c";
}

.icon-shijian-xianxing:before {
  content: "\e8c4";
}

.icon-huodongmulupeizhi:before {
  content: "\e66b";
}

.icon-shouye:before {
  content: "\e751";
}

.icon-guanyu:before {
  content: "\e655";
}

.icon-caidan:before {
  content: "\eaf1";
}

