html, body, div {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font-weight: normal;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, menu, nav, section {
  display: block;
}

html {
  display: block;
  height: 100%;
  font-size: 15.8px;
  scroll-behavior: smooth;
}

body {
  line-height: 1;
  height: 100%;
  font-family: 'Josefin Sans','PingFang SC';
  scroll-behavior: smooth;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* custom */
a {
  color: #7e8c8d;
  text-decoration: none;
}

p {
  line-height: 1.9rem;
}

li {
  list-style: inherit;
  margin: 0.5rem 0;
  line-height: 1.9rem;
}

body {
  -webkit-text-size-adjust: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}
